//colors

$body-font-size: 16px;
$body-color: #e8e8e8;
$font-color: #333;
$dark-gray: #383838;
$link-color: #666;
$light-gray: #999;
$dark-red: #c40000;
$wight-gray: #dcdcdc;
$white: #fff;
$link-color-hover: #0285bb;
$red: #ff0000;
$yellow: #ffed00;
$orange: #f2cd00;
$black: #000;
$grey: #C6C6C6;
$brown: #665200;

//font
$OpenSansCondensed: 'Open Sans Condensed';
$OpenSans: 'Open Sans';
$TimesNewRoman: "Times New Roman";

//other

$base-transition: 300ms ease;